h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-style: normal;
  color: #333;
}

body {
  background: rgb(229, 229, 229);
}

#todo-list {
  width: 600px;
  margin: 40px auto;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

form,
.todo {
  border: 1px solid #999;
  padding: 12px 24px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

form input {
  padding: 8px 12px;
  flex-grow: 1;
  margin-right: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

button:focus {
  outline: none;
}

input[type='text'] {
  font-size: 18px;
  font-family: Arial, sans-serif;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo input[type="checkbox"] {
  transform: scale(1.5) translateY(1px);
  margin: 0 16px 0 0;
  cursor: pointer;
}

.todo-text input {
  padding: 6px 10px;
}

.todo-text {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
  color: #333;
}

.todo-completed {
  display: flex;
  margin: 10px 0;
}

.todo-actions {
  display: flex;
  justify-content: space-between;
}

#completed {
  margin-left: 20px;
}

/* Estilos para el tema oscuro */
.dark-theme {
  background-color: #333; /* Color de fondo oscuro */
  color: #fff; /* Color de texto claro */
}

.dark-theme .todo {
  background-color: #555; /* Color de fondo de cada tarea */
}

.dark-theme .todo-actions button {
  background-color: #777; /* Color de fondo de los botones de acciones */
  color: #fff; /* Color de texto claro para los botones */
}

.dark-theme #add-button {
  background-color: #777; /* Color de fondo del botón Agregar Tarea en tema oscuro */
  color: #fff; /* Color de texto del botón Agregar Tarea en tema oscuro */
}

.dark-theme #theme-button {
  background-color: #777; /* Color de fondo del botón Cambiar Tema en tema oscuro */
  color: #fff; /* Color de texto del botón Cambiar Tema en tema oscuro */
}
